<!-- detalle_cancion.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Canción</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <div class="container">
        <h1>Detalles de la Canción</h1>
        <div class="cancion">
            <h2>{{ cancion.titulo }}</h2>
            <p><strong>Artista:</strong> {{ cancion.artista }}</p>
            <p><strong>Género:</strong> {{ cancion.genero }}</p>
        </div>
        <a href="{{ url_for('obtener_todas_las_canciones_vista') }}">Volver a la lista de canciones</a>
    </div>
</body>
</html>