<!-- index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Canciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de Canciones</h1>
        <ul>
            {% for cancion in canciones %}
            <li><a href="{{ url_for('obtener_cancion_por_id_vista', id=cancion.id) }}">{{ cancion.titulo }}</a> - {{ cancion.artista }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>